*,
*::after,
*::before
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: $font-1

html,
body
    min-height: 100vh

a
    text-decoration: none
    color: inherit
    cursor: pointer

input,
textarea,
dialog
    border: none
    outline-color: $color-black-0

button
    border: none
    outline: none
    cursor: pointer

ul, ol 
    list-style: none
#root
    min-height: 100vh
    